
/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Element Selector */
button {
    background-color: blue;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

/* ID Selector */
#main-title {
    text-align: center;
    color: purple;
    font-size: 40px;
}

/* Class Selector */
.student-card {
    border: 1px solid black;
    padding: 20px;
    margin: 15px;
    box-shadow: 2px 2px 10px gray;
}
/* Multiple-Class Selector */
.student-card.active {
    background-color: lightblue;
    border: 3px solid blue;
}
/* Descendant Selector */
.student-card p {
    color: darkblue;
    font-size: 16px;
    line-height: 1.5;
}
/* Child Selector */
.subjects > li {
    color: green;
    padding: 10px;
    font-weight: bold;
}
/* Attribute Selector */
input[type="email"] {
    border: 2px solid blue;
}
/* Pseudo-class Selector */
button:hover {
    background-color: darkblue;
    transform: scale(1.1);
    transition: 0.3s;
}
/* Pseudo-element Selector */
.subjects li:nth-child(1) {
    background-color: lightblue;
    font-weight: bold;
}

.subjects li:nth-child(even) {
    background-color: lightgray;
}
/* Pseudo-class Selector */
input:focus {
    border: 2px solid blue;
    outline: none;
    background-color: lightyellow;
}