:root {
    --primary-color: #007bff;
    --secondary-color: #d4a713;
    --success-color: #28a745;
    --danger-color: #dc3545;
}

section:nth-of-type(1) {
    background-color: var(--primary-color);
    color: white;
}

section:nth-of-type(2) {
    --secondary-color: #3ad413;
    background-color: var(--secondary-color);
    color: white;
}

section:nth-of-type(3) {
    background-color: var(--secondary-color);
    color: white;
}
