*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

main {
  min-width: 100%;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  width: "90%";
  display: flex;
  list-style-type: none;
  gap: 20px;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
}

nav ul li a:link {
  text-decoration: none;
}
